@charset "UTF-8";

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 48px;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
}

.pagination li.active span {
    background-color: #000;
    color: #fff;
}

.pagination li.disabled span,
.pagination li.disabled a {
    color: #ccc;
    border: 0;
}

.pagination li a:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {

    .pagination li a,
    .pagination li span {
        width: 24px;
        height: 24px;
        font-size: 12px;
    }   

}