@charset "UTF-8";

body {
    font-family: 'Noto Sans JP', sans-serif; /* 日本語フォントを基本のフォントとして設定 */
}

h1, h2, h3, h4, h5, h6, .english-text {
    font-family: 'Montserrat', sans-serif; /* 見出しや特定の英字用のクラスに英字フォントを適用 */
    letter-spacing: 3;
}

.g-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 17.5px 0 17.5px 24px ;
}

.logo{
    width:20%;
}

.menu-list{
    display: flex;
    align-items: center;
}

.menu-list-sp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #524433;
}

.list{
    margin-right: 32px;
    /*文字間は一旦飛ばす*/
    color: #524433;
    font-size: 14px;
}

.list:last-child {
    margin-right: 0; /* 最後のアイテムだけ margin-right を 0 に設定 */
}

.onlineshop{
    background-color: #524433;
    color: white;
    padding: 2% 20px;
}

/*main*/

.main-content{
    max-width:1080px;
    margin:0 auto;
    text-align: center;
    
}

.h2-concept{
    margin-top: 64px;
    font-size: 1.75rem;
    letter-spacing: 20%;
}

.concept-img{
    margin-top: 48px;
}

.concept-text{
    margin-top: 48px;
}

.text-20{
    font-size: 1.25rem;
}

.p-text-2{
    margin-top: 32px;
    line-height: 200%;

}

.concept-button{
    margin-top: 48px;
}

.button-bk{
    font-size: 1.125rem;
    padding: 21px 0;
    background-color: black;
    color: white;
    display: block;
    width: 240px;
    margin: 0 auto;
    text-align: center;

}

.button-wt{
    font-size: 1.125rem;
    padding: 21px 91px;
    background-color: white;
    color: black;
    display: block;
    width: 240px;
    margin: 0 auto;

}

.menu-container{
    margin: 64px auto 0;
    padding: 80px 40px;
    background-color: #312a20;
    color: white;

}

.menu-table{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.menu{
    width: 48%;
}

.menu-title{
    text-align: center;
    font-size: 1.75rem;
}

.h3-menu{
    margin-bottom: 16px;
    font-size: 1.25rem;
}

.cafe-menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 12px 0;
}

.button-menu{
    margin-top:63px;
    text-align: center;
}

.shop-content{
    max-width: 1080px;
    margin: 80px auto 0;

}

.shop-title{
    text-align: center;
    font-size: 1.75rem;
}

.shop-text{
    margin-top: 48px;
    text-align: center;

}

.shop-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap:24px;
    margin-top: 48px;
}

.shop-item{
    flex: 1 1 30%;
    padding: 19.5px 0;
    margin-right: 24px;
    text-align: center;
    background-color: #EFEDE9;
    border-radius: 50px 50px;
    
}

.shop-item:nth-child(3) {
    margin: 0; /* 3つ目の要素だけマージンをなしにする */
  }

.shop-item:last-child {
    margin-right: 0; /* 最後のアイテムだけ margin-right を 0 に設定 */
}

.button-shop{
    margin-top: 48px;
}

.separate{
    margin-top: 48px;
}

.blog-content{
    max-width: 1080px;
    margin: 80px auto 0;
    text-align: center;
}

.h2-blog{
    margin-top: 64px;
    font-size: 1.75rem;
    letter-spacing: 20%;
}

.button-blog{
    margin-top: 48px;
}

/*footer*/

.g-footer{
    text-align: center;
    margin-top: 80px;
}

.ig-bg{
    background-color: #EFEDE9;
    padding-bottom: 80px;
    padding-top: 80px;
}

.ig-img{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.ig-post{
    width: 15%;
}

.h2-ig{
    font-size: 1.75rem;
    letter-spacing: 20%;

}

.button-ig{
    margin-top: 48px;
}

.footer-bg{
    background-color: #524433;
    color: white;
    padding-top: 80px;
    }

.logo-footer{
    margin: 0 auto;
}

.list-tenpo{
    margin-top: 40px;
    
}

.tenpo{
    padding: 0 10px;
    font-size: 14px;

}

/*
.tenpo:not(:last-child)::after {
    content: '/';
  }*/ 
  
.company-footer{
    margin-top: 24px;
    font-size: 0.75rem;
}

.copyright{
    margin-top: 64px;
    padding-bottom: 24px;
}

/*posts*/
.post-new{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.post-card{
    width: 31%;
    margin-left:3.5%;
    text-align:left;
}

.post-card:first-child {
    margin-left: 0; /* 最後のアイテムだけ margin-right を 0 に設定 */
}


.post-img-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}
  
.post-img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.post-text {
padding-top: 20px;
}

.post-text-date{
color: #524433;
font-size: 0.875rem;
}

.post-text-content{
padding-top: 8px;
}

@media (min-width: 768px) {
    .list-sp {
    display: none;
    }
}

@media (max-width: 768px) {

    /*header*/
    .list-pc {
      display: none;
    }

    .list-sp .list{
        margin-right: 5%;
        margin-left: 5%;
        /*文字間は一旦飛ばす*/
        color: white;
        padding: 14px 0;
        font-size: 12px;
    }

    .list-sp .list:last-child {
        margin-right: 5%; /* 最後のアイテムだけ margin-right を 0 に設定 */
    }

    .onlineshop{
        background-color: #524433;
        color: white;
        padding: 14px 20px;
        font-size: 12px;
    }

    .logo{
        width:30%;
    }
  
    /*body*/

    .main-content{
        max-width:1080px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .shop-content{
        max-width: 1080px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }

    .blog-content{
        max-width: 1080px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }


    .menu-table{
        flex-direction: column;
    }

    .menu{
        width: 100%;
    }

    .menu:last-child{
        margin-top: 40px;
    }

    .post-new{
        flex-direction: column;
        width: 100%;
    }

    .post-card{
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }

    .ig-img{
        width: 100%;
        flex-wrap: wrap;
        gap:9px;

    }

    .ig-post{
        flex: 1 1 27.5%;
    }

    .shop-item{
        margin-right: 0;
        flex: 1 1 45%;
        margin-left: 5%;
    }

    .shop-item:nth-child(5) {
        margin: 0;   
    }

    .shop-item:first-child {
        margin-left: 0; /* 最後のアイテムだけ margin-right を 0 に設定 */
    }

}